# PostgreSQL Configuration
POSTGRES_DB=dateclick
POSTGRES_USER=dateclick
POSTGRES_PASSWORD=dateclick

# Backend Configuration
DB_USERNAME=dateclick
DB_PASSWORD=dateclick
DATABASE_URL=jdbc:postgresql://postgres:5432/dateclick

# Spring Profile
SPRING_PROFILES_ACTIVE=dev
