spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dateclick
    username: ${DB_USERNAME:dateclick}
    password: ${DB_PASSWORD:dateclick}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.dateclick.api: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
